.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  width: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchTerm:focus{
    color: #00B4CC;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.search-res{
  border: 2px solid #00b4cc;
  border-radius: 5px;
  margin-top: -2px;
  width: 30%;
}
.Lista{
  list-style: none;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Lista li {
  width: 100%;
  cursor: pointer;
}

.favs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.favs h4{
  padding: 10px;
  font-size: 1rem;
}
.gradovi{
  border: none;
  cursor: pointer;
}
.gradovi:focus{
  outline: none;
}
.favorite_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prognoza{
  width: 100%;
  display: flex;
  flex-direction: column;
}
