.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  width: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchTerm:focus{
    color: #00B4CC;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.search-res{
  border: 2px solid #00b4cc;
  border-radius: 5px;
  margin-top: -2px;
  width: 30%;
}
.Lista{
  list-style: none;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Lista li {
  width: 100%;
  cursor: pointer;
}

.todo-app {
display: flex;
flex-direction: column;
justify-content: start;
width: 520px;
min-height: 600px;
background: #161a2b;
text-align: center;
margin: 128px auto;
border-radius: 10px;
padding-bottom: 32px;
}

h1 {
margin: 32px 0;
color: #fff;
font-size: 24px;
}

.complete {
text-decoration: line-through;
opacity: 0.4;
}

.todo-form {
margin-bottom: 32px;
}

.todo-input {
padding: 14px 32px 14px 16px;
border-radius: 4px 0 0 4px;
border: 2px solid #5d0cff;
outline: none;
width: 320px;
background: transparent;
color: black;
}

.todo-input::placeholder {
color: #e2e2e2;
}

.todo-button {
padding: 16px;
border: none;
border-radius: 0 4px 4px 0;
cursor: pointer;
outline: none;
background: linear-gradient(
  90deg,
  rgba(93, 12, 255, 1) 0%,
  rgba(155, 0, 250, 1) 100%
);
color: #fff;
text-transform: capitalize;
}

.todo-input.edit {
border: 2px solid #149fff;
}

.todo-button.edit {
background: linear-gradient(
  90deg,
  rgba(20, 159, 255, 1) 0%,
  rgba(17, 122, 255, 1) 100%
);
padding: 16px 22px;
}

.todo-container {
display: flex;
flex-direction: row;
position: relative;
}

.favs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gradovi{
  border: none;
  cursor: pointer;
}
.gradovi:focus{
  outline: none;
}
